.loginFormContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.formTitle {
  color: #fcfcfc;
  font-size: 1.4rem;
}

.errorMessage {
  color: #fff;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 100%;
}
