.button {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #585888;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0.375rem;
  margin-right: 0.75rem;
  margin-top: 0.625rem;
  text-decoration: none;
}
